body {
    font-family: 'Times New Roman', Georgia, serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

h1 {
    font-family:'Century', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: 35px;
    letter-spacing: 4px;
    margin-bottom: 15px;
    text-transform: uppercase;
}

h4 {
    text-align: center;
    color: rgb(55, 136, 222);
    font-size: 14px;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 5px;

}

hr {
    width: 100%;
    border: none;
    margin-top: 5px;
    margin-bottom: 30px;
    border-top: 1px solid #ccc;
}

p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
}

.lead-in {
    font-style: italic;
}

#content {
    width: 600px;
    margin: 60px auto;
    padding: 50px;
    border-width: 50px;
    text-align: left;
}

ol {
    padding-left: 35px;
    font-size: 16px;
    line-height: 1.6;
}

ol li {
    margin-bottom: 15px;
}

img {
    display: block;
    width: 180px;
    margin: 50px auto 0;
}