body {
    font-family: 'Times New Roman', Georgia, serif;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

h1 {
    font-family:'Century', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    font-size: 35px;
    letter-spacing: 4px;
    margin-bottom: 15px;
    text-transform: uppercase;
}

h2 {
    text-align: center;
    color: rgb(55, 136, 222);
    font-size: 14px;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 5px;

}

hr {
    width: 100%;
    border: none;
    margin-top: 5px;
    margin-bottom: 30px;
    border-top: 1px solid #ccc;
}

p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
}

.lead-in {
    font-style: italic;
}

#content {
    width: 600px;
    margin: 60px auto;
    padding: 50px;
    text-align: left;
    border: 1px solid #ddd;
    background-color: #ffffff;
}

ol {
    padding-left: 35px;
    font-size: 16px;
    line-height: 1.6;
}

ol li {
    margin-bottom: 15px;
}

img {
    display: block;
    width: 180px;
    margin: 50px auto 0;
}

body.light {
    background-color: #ffffff;
    color: #000000;
}

body.light #content {
    background-color: #ffffff;
    border-color: #ddd;
}

body.dark {
    background-color: #121212;
    color: #f0f0f0;
}

body.dark #content {
    background-color: #1e1e1e;
    border-color: #555;
}

body.dark h2 {
    color: #9bbcff;
}
